<h1>
    <center> <span class="blinking"> Burger Buffet! </span></center>
</h1>

<br>
<br>
<hr>
<form class='create-form' id='submit-form'>

    <div class='form-group'>
        <label for='newBurger'> Enter the burger name: </label>
        <input type='text' id='newBurger' name='name'>
    </div>


    <button class="btn btn-warning" type='submit'>Order</button>

</form>
<hr>
<br>
<br>

<div class="row">
    <div class="col-md-4">

        <h4>Burgers you ordered!</h4>
        <p>Click an item to eat..</p>

        <br>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}

            <li>
                <button data-id='{{this.id}}' data-devoured='{{this.devoured}}' class='devour'
                    id="buttoncolors">{{this.burger_name}}
                </button>
            </li>

            {{/unless}}
            {{/each}}
        </ul>

        <br>
    </div>
    <div class="col-md-4">
        <h4>Burgers in your tummy!</h4>
        <p>Click an item to delete..</p>
        <br>

        <ul>
            {{#each burgers}}
            {{#if devoured}}

            <li>
                <button data-id='{{this.id}}' data-devoured='{{this.devoured}}' class='delete'
                    id="buttoncolors">{{this.burger_name}}</button>
            </li>

            {{/if}}
            {{/each}}
        </ul>

    </div>
    <div class="col-md-4"></div>
</div>